<!DOCTYPE html>
<html data-ng-app="Shorty">
<head>
    <title>Shorty</title>
    
    <style>
        body {
            font-family: sans-serif;
        }
    </style>

</head>
    <body data-ng-controller="shortenerController">
        
        <form name="form" novalidate>
            <label>Long URL:</label>
            <input type="url" data-ng-model="longUrl" required />
            <button type="submit" ng-disabled="!form.$valid" data-ng-click="shorten(longUrl)">
                Shorten
            </button>
        </form>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/shortenerController.js"></script>
    </body>
</html>
